div#container{
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.open{
    background-color: aquamarine;
    color: black;
}
.close{
    background-color: red;
    color: black;
}